.center{
    margin-left: auto;
    margin-right: auto;
}



.inputContainer{
    grid-column-start: 1;
    justify-self: left;
    position: fixed;
}


.tableContainer{
    grid-column-start: 2;
}

table, th, td {
    border: none;
    border-collapse: collapse;
    border-radius: 1rem;
    width: 400px;
    max-width: 800px;
    user-select: none;
}
th, td {
    padding: 5px;
}
th {
    text-align: center;
}


table tbody td{
    transition:all 150ms ease-in-out;
    text-align: center;
}

table tbody td:hover {
    background: #555;
    color: #ffffff;
    transition: 200ms;
    cursor:pointer;
    box-shadow: 0 0 2.5rem rgb(255, 255, 255);
  }


table tbody td:active{
    background: rgb(0, 0, 0); 
    box-shadow: 0 0 2.5rem rgb(56, 56, 56);
}
.searchInput {
    background-image: url('images/searchicon.png');
    opacity: 0.5;
    background-repeat: no-repeat;
    padding-left: 30px;
}
.searchInput:focus{
    background-color: rgb(146, 179, 190);
} 
  
  /* tutaj zaczyna sie syf */
  .display-source {
    position: fixed;
    color: #ffffff;
    background-color: #555;;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    bottom: 30px;
    right: 30px;
    border-style: hidden;
    box-shadow: 0 0 3px black;
  }
  
  
  .display-source:hover {
    background-color: white;
    color: #555;;
    border-style: solid;
    cursor:pointer;
  }
  .modal-source {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 111; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  
  /* Modal Content */
  .modal-source-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* top: 200; */
    /* left: 20%; */
    background-color: #fefefe;
    min-width: 40%; 
    max-width: 60%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-radius: 16px 16px 16px 16px;
  }
  
  .sourceTableModal{
      width: max-content;
      min-width: 10px;
      margin-left: auto;
      margin-right: auto;
  }

  .sourceTableModal td:hover{
    color:#000;
    /* background: #a05555; */
    background: white;
    box-shadow: none;
    
  }

  .sourceTableModal td:active{
    color:rgb(255, 0, 0);
    /* background: #a05555; */
    background: white;
    box-shadow: none;
    
  }


  .sourceTableModal td i{
    display: none;
    color: rgb(255, 0, 0);
    margin-left: 2%;
  }

  .sourceTableModal td:hover i {
    display: inline-block;
  }
  .sourceTableModal td:active i{
    display: inline-block;
  }



.modal-table-wrapper{
    overflow: auto;
    white-space: nowrap;
    direction: rtl;
}

  .sourceTableModal table, th, td {
    border: none;
    border-collapse: collapse;
    border-radius: 1rem;
    width: max-content;
    min-width: 10px;
    max-width: 800px;
    user-select: none;
}


  /* The Close Button */
  .close {
    color: white;
    grid-column-start: 3;
    grid-row: 1;
    justify-self: right;
    margin-right: 5px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-source-header {
    padding: 2px 6px;
    background-color:  #555;
    color: white;
    text-align:center;
    height: 40px;
    border-radius: 15px 15px 0px 0px;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
  }
  
  .modal-header-text{
    margin-top: 5px;
    grid-column-start: 2;
    grid-row: 1;
  }
  
  .modal-source-footer {
    padding: 2px 16px;
    background-color:  inherit;
    border-radius: 0px 0px 15px 15px;
    display: flex;
  }
  
.buttonSubmitter {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border-radius: 2px;
    font-size: 30px;
    padding: -5px 25px;
    /* border: solid; */
    border-color:  white;
    color: rgb(0, 0, 0);
    transition: background-color .17s ease,color .17s ease;
    margin: -10px auto -10px auto;
}
  

.buttonSubmitter:hover i{
  color: rgb(127, 255, 170);
}
  
/* Add Animation */
@-webkit-keyframes slideIn {
from {top: -300px; opacity: 0} 
to {top: 200; opacity: 1}
}

@keyframes slideIn {
from {top: -300px; opacity: 0}
to {top: 200; opacity: 1}
}

@-webkit-keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}

@keyframes fadeIn {
from {opacity: 0} 
to {opacity: 1}
}





